.inputstyles{
    padding:5px;
    width:89%;
    //margin-top:5px;
    border-radius: 5px;
    border:1px solid #b0b0b0;
}
.closeicon{
    float: right;
    margin-top: -10%;
}
.mandetory{
    color:red;
    font-size: 17px;
  }
table, th, td {
    border: 1px solid #e5dfdf;
    text-align: center;
  }
.savebutton{
    margin-left: 43%;
    margin-top: 3%;
    height: 33px;
    // width: 11%;
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.12);
    font-size: medium;
}
.searchfield{
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
    outline: none;
}
label{
    font-weight: 450;
}
.inputstyles:hover{
    border: 2px solid #000; 
 }
 .nguntouched:hover {
    border: 2px solid #000;
 }
 .dropdownstyles:hover{
     border: 2px solid #000;
    
 }
 
 .savebutton:hover{
    background-color: whitesmoke;
  
 }
 .searchfield:hover{
    border: 2px solid #000;
 }
 .input1{
    height:130%; 
    width:89%;
    border-radius: 5px;
    border-width: thin; 
}
.input2{
    height: 73%; 
    width: 107%;
    border-radius: 5px;
    border-width: thin; 
}
.input1:hover{
    width: 87%;
    height:130%; 
    border-radius: 5px;
    border: 2px solid #000;
}
.input2:hover{
    width: 107%;
    height: 73%;
    border-radius: 5px;
    border: 2px solid #000;
    
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:white;
    background-color: rgba(0, 0, 0, 0.12);
    // border: 5px solid orange
    }
    .mat-dialog-content{
        overflow: initial;
    }
// .mat-dialog-title{
//     margin: -24px -24px 20px;
//     display: block;
//     padding: 11px;
//     background: #ddd7d7;
//     display: block;
// }