.inputstyles {
    padding: 5px;
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #b0b0b0;

}

.inputstyles:hover {
    border: 2px solid #000;
}

.dropdownstyles {
    width: 100%;
    // height: 110%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #fff !important;
}

.dropdownstyles:hover {
    border: 2px solid #000;
}

label {
    font-weight: 450;
}

.savebutton {
    // margin-left: 43%;
    // margin-top: 3%;
    height: 33px;
    // width: 11%;
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
    // border: 1px solid;
    // background-color: transparent;
    font-size: medium;
}

.savebutton:hover {
    background-color: whitesmoke;
}

.closeicon {
    float: right;
    margin-top: -6%;
}

.savebutton {
    // margin-left: 43%;
    // margin-top: 3%;
    height: 33px;
    width: 11%;
    // border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
    // border: 1px solid;
    // background-color: transparent;
    font-size: medium;
    float: right;
    text-align: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;

    .inputstyles {
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid #b0b0b0;
        width: 100%;
    }

    .dropdownstyles {
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid #b0b0b0;
        width: 100%;
    }

    .inputstyles:hover {
        border: 2px solid black
    }

    .dropdownstyles:hover {
        border: 2px solid black;
    }

    .savebutton {
        // margin-left: 3%;
        // margin-top: 3%;
        height: 33px;
        // width: 8%;
        border-radius: 5px;
        transition-duration: 0.4s;
        outline: none;
        // border: 1px solid;
        background-color: rgba(0, 0, 0, 0.12);
        font-size: medium;
    }

    .attachfile {
        // margin-top: 2.8%;
        background-color: rgba(0, 0, 0, 0.12);
        height: 33px;
    }

    .mandetory {
        color: red;
        font-size: 17px;
    }

    .svaebutton:hover {
        background-color: whitesmoke;
    }

    label {
        margin: 5px;
        font-weight: 450;
    }

    .table th {
        /* vertical-align: bottom; */
        vertical-align: middle !important;
        border-bottom: 2px solid #e9ecef;

    }

    .table td {
        vertical-align: middle !important;

    }

    .mat-form-field-wrapper {
        padding-bottom: 0px !important;
        margin-top: -15px !important;
    }

    .inputdropdown {
        margin-top: -7%;
        margin-bottom: 12px;
        margin-left: 1%;
    }

    .matButton {
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        overflow: visible;
    }

    .matButton:hover {
        background: transparent;
    }

    .dropdown:hover {
        border: 2px solid black !important;
    }

    table,
    th,
    td {
        border: 1px solid #e5dfdf;
        text-align: center !important;
    }

    .tablestyles {
        background: #e9ecef;
        font-weight: 600;
        height: 41px;
    }
  

    .closeicon {
        float: right;
        margin-top: -6%;
    }

    #header-fixed {
        position: fixed;
        // top: 0px; display:none;
        // background-color:white;
    }

    .tablediv {
        max-height: 300px;
        overflow-y: auto;
    }

    .activitylog {
        font-size: 16px;
        margin-bottom: 0px;
        margin-left: 5px;

    }

    .mat-dialog-content {
        overflow: initial;
    }

    .dialogdata {
        max-height: 200px;
        overflow-y: auto;
    }

    .disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        color: grey
    }

    .headerclass {
        position: sticky;
        top: -2px;
        background: #e9ecef;
    }

    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    // -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

.attachfile {
    // margin-top: 2.8%;
    background-color: rgba(0, 0, 0, 0.12);
    height: 34px;
}

th.mat-header-cell {
    text-align: center;
}

table .mat-cell {
    text-align: center;
}

.mandetory {
    color: red;
}

.matformfieldstyles {
    font-size: 9px;
    width: 100%;
    left: 5px;

    // / margin-left: 5px; /
    // top: 2px;
}

.inputdropdown1 {
    border: none;
    font-size: 14px;
    margin-top: -3px;

}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:white;
    background-color: rgba(0, 0, 0);
    // border: 5px solid orange
    }