<div class="page-breadcrumb page-header">
    <div class="row">
        <div class="col-12 align-self-center">
            <h4 class="page-title">Job Order</h4>
        </div>
    </div>
</div>
<div class="material-tab">
    <mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms" [(selectedIndex)]="demo1TabIndex">
        <mat-tab>
            <ng-template mat-tab-label>Job Order</ng-template>
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-content>
                        <form #myform="ngForm" (ngSubmit)="saveFinalData(myform)">
                            <div class="row" style="margin-left: 5px">
                                <h2 *ngIf="editednumber">JO Number:&nbsp;{{ editednumber }}</h2>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-1">
                                    <button mat-raised-button type="submit"  class="savebutton"
                                        style="background-color: rgba(0, 0, 0, 0.12)" color="secondary">
                                        {{ btn }}
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" mat-raised-button class="attachfile" color="secondary"
                                        (click)="autoFileUpload2.click()">
                                        Attach File&nbsp;
                                        <mat-icon style="cursor: pointer; font-size: 24px">file_upload</mat-icon>
                                    </button>
                                    <div class="file">
                                        <input hidden class="form-control-file" name="file" type="file" multiple
                                            (change)="uploadprfiles($event)" #autoFileUpload2 />
                                        <ng-container *ngIf="fileUploadUrlspr.length > 0">
                                            <div *ngFor="let item of filenamearray1; let i = index">
                                                {{ i + 1 }}.&nbsp;{{ item }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label>Company Name<span class="mandetory">*</span></label>
                                    <select class="dropdownstyles" name="company_name"
                                        [(ngModel)]="jodata.company_name">
                                        <option selected disabled>Select One</option>
                                        <option *ngFor="let item of companyData" [ngValue]="item.name">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Date<span class="mandetory">*</span></label>
                                    <input type="date" style="text-transform: uppercase" class="inputstyles" name="date"
                                    [(ngModel)]="jodata.date" dateFormat="yyyy/mm/dd" />
                                </div>
                                <div class="col-md-3">
                                    <label>Comments<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" name="comments" [(ngModel)]="jodata.comments"
                                    placeholder="Enter Comments" />
                                </div>
                                <div class="col-md-3">
                                    <label>Vendor Name<span class="mandetory">*</span></label>
                                    <select class="dropdownstyles" name="vendor_name" [(ngModel)]="jodata.vendor_name">
                                        <option selected disabled>Select One</option>
                                        <option *ngFor="let item of vendorData" [ngValue]="item.name">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label>Tax Description<span class="mandetory">*</span></label>
                                    <mat-form-field appearance="outline" class="matformfieldstyles" >
                                        <input type="text" class="inputdropdown1" placeholder="Enter Tax Description"
                                            aria-label="Number" matInput name="tax_description"
                                            [(ngModel)]="jodata.tax_description" [matAutocomplete]="auto1" />
                                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete"
                                       (optionSelected)="getTaxPercent()" >
                                            <mat-option *ngFor="let item of taxData" [value]="item.description">
                                                {{ item.description }}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <label>Subject<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" name="subject" [(ngModel)]="jodata.subject"
                                    placeholder="Enter Subject" />
                                </div>
                               
                                <div class="col-md-3">
                                    <label>Tax Percent<span class="mandetory">*</span></label>
                                    <input class="inputstyles" name="tax_percent" [(ngModel)]="jodata.tax_percent" placeholder="Enter Tax Percent"/>
                                </div>
                            </div>
                        
                            
                        </form>
                       
                        <div class="row p-10">
                            <div class="col-12 float-right text-right">
                                <button mat-icon-button value="Add" matTooltip="Add" class="custom-icon-button"
                                    (click)="addJobOrderModel(jobordermodel)">
                                    <span class="material-icons"> add </span>
                                </button>
                            </div>
                        </div>
                        <div class="row p-t-10">
                            <div class="col-12 col-md-12">
                                <div class="table-responsive mat-table-wrapper">
                                    <div class="example-table-container">
                                        <table mat-table [dataSource]="dataSource">
                                            <ng-container matColumnDef="lineItem">
                                                <th mat-header-cell *matHeaderCellDef style="width: 5%">
                                                    SNO
                                                </th>
                                                <td mat-cell *matCellDef="let row; let i = index">
                                                    {{ i + 1 }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="material_code">
                                                <th mat-header-cell *matHeaderCellDef style="width: 5%">
                                                    Service Code
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.number }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="material_description">
                                                <th mat-header-cell *matHeaderCellDef style="width: 5%">
                                                    Description
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.job_description }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="mat_uom">
                                                <th mat-header-cell *matHeaderCellDef style="width: 4%">
                                                    Unit Price
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.unit_price }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="mat_quantity">
                                                <th mat-header-cell *matHeaderCellDef style="width: 6%">
                                                    Quantity
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.quantity }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="totalPrice">
                                                <th mat-header-cell *matHeaderCellDef style="width: 6%">
                                                    Total Price
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    {{ row.total_amount }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef style="width: 10%">
                                                    Action
                                                </th>
                                                <td mat-cell *matCellDef="let row; let i = index">
                                                    <button mat-icon-button
                                                        aria-label="Example icon button with a vertical three dot icon"
                                                        (click)="editdata(row, i, jobordereditmodel)">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>

                                                    <button mat-icon-button style="color: red; border: none"
                                                        aria-label="Example icon button with a vertical three dot icon"
                                                        (click)="deleterow(i)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 *ngIf="logdata" class="activitylog">Activity Log</h2>
                        <div class="tablediv" *ngIf="logdata">
                            <table>
                                <thead style="background: #e9ecef" class="text-center headerclass">
                                    <!-- <tr> -->
                                    <th>SNO</th>
                                    <th style="padding: 10px">User Name</th>
                                    <th>Created Date</th>
                                    <th>Reference Number</th>
                                    <th>Description</th>
                                    <th>Reason</th>
                                    <th>Action</th>
                                </thead>
                                <tbody class="text-center">
                                    <tr *ngFor="let item of logdata; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.username }}</td>
                                        <td>{{ item.date_time | date: "dd-MM-yyyy HH:mm:ss" }}</td>
                                        <td>{{ item.reference_number }}</td>
                                        <td>{{ item.description }}</td>
                                        <td>{{ item.reason }}</td>
                                        <td>
                                            {{ item.action }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </mat-tab>

        <!-- List -->

        <mat-tab>
            <ng-template mat-tab-label> List </ng-template>
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-content>
                        <ng-container>
                            <div class="row p-t-10">
                                <div class="col-12 col-md-12">
                                    <div class="table-responsive mat-table-wrapper">
                                        <div class="example-table-container">
                                            <table mat-table [dataSource]="dataSourcemain">
                                                <ng-container matColumnDef="sno">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 6%">
                                                        SNO
                                                    </th>
                                                    <td mat-cell *matCellDef="let row; let i = index">
                                                        {{
                                                        i +
                                                        1 +
                                                        masterpaginator.pageIndex *
                                                        masterpaginator.pageSize
                                                        }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Number">
                                                    <th mat-header-cell *matHeaderCellDef>Number</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{ row.number }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Date">
                                                    <th mat-header-cell *matHeaderCellDef>Date</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{ row.date | date: "dd/MM/yyyy" }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="company_name">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 24%">
                                                        Company Name
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{ row.company_name }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="service_code">
                                                    <th mat-header-cell *matHeaderCellDef>Service Code</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{ row.service_code }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="service_description">
                                                    <th mat-header-cell *matHeaderCellDef>Service Description</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{ row.service_description }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Vendor_name">
                                                    <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        {{ row.vendor_name }}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="action">
                                                    <th mat-header-cell *matHeaderCellDef style="width: 13%">
                                                        Action
                                                    </th>
                                                    <td mat-cell *matCellDef="let row; let i = index">
                                                        <mat-icon (click)="edit_data(row, i, Editmodel)"
                                                            style="cursor: pointer">edit</mat-icon>
                                                        <mat-icon (click)="deleteItem(row, deleteItemModel)"
                                                            style="cursor: pointer;color:red">delete</mat-icon>
                                                        <mat-icon (click)="printJc()" style="cursor: pointer">
                                                            local_printshop</mat-icon>
                                                        <mat-icon (click)="openfileuploadmodel(fileuploadmodel, row)"
                                                            style="cursor: pointer">file_upload</mat-icon>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true">
                                                </tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                                            </table>
                                        </div>
                                        <div *ngIf="reaData == true" class="text-center">
                                            <h4 class="text-secondary m-3" *ngIf="loadingRecords">
                                                Loading...
                                            </h4>
                                            <h4 class="text-secondary m-3" *ngIf="!loadingRecords">
                                                No Records Found
                                            </h4>
                                        </div>
                                        <mat-paginator [length]="totalRecords" [pageSize]="10"
                                            [pageSizeOptions]="[5, 10, 25, 50, 75, 100]" #masterpaginator
                                            (page)="onpageevent($event)">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- add item -->

<ng-template #jobordermodel>
    <div mat-dialog-title class="dialog-title">
        <h2>Add Items</h2>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon" (click)="closemodel()"
            style="border: none; background: none">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <br />
    <mat-dialog-content style="overflow: initial">
        <form #myaddform="ngForm" (ngSubmit)="saveaddeddata(myaddform)">
            <div class="row">
                <div class="col-md-2">
                    <label>Service Code<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="matformfieldstyles" style="width: 335px;
                        margin-left: -11px;">
                            <input type="text" class="inputdropdown1" placeholder="Enter Service Code"
                                aria-label="Number" matInput name="number"
                                [(ngModel)]="jodata2.number" [matAutocomplete]="auto2" />
                            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete"
                           (optionSelected)="getserviceDescription()" (keyup)="filterServiceCode($event)">
                                <mat-option *ngFor="let item of servicemasterData" [value]="item.code">
                                    {{ item.code }}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Description<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="job_description"
                        [(ngModel)]="jodata2.job_description" placeholder="Enter ServiceDescription"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Unit Price<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="unit_price" [(ngModel)]="jodata2.unit_price" placeholder="Enter Unit price"/>
                </div>
                <div class="col-md-2">
                    <label>Quantity<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="quantity" [(ngModel)]="jodata2.quantity" placeholder="Enter Quantity"/>
                </div>
                <div class="col-md-2">
                    <label>Total Price<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="total_amount" [(ngModel)]="jodata2.total_amount" placeholder="Enter Total Amount"/>
                </div>
            </div>
            <br />
            <button class="savebutton" style="width: 6%; font-weight: 500; margin-left: 43%; margin-top: 3%"
                [disabled]="!jodata2.number">
                Add
            </button>
        </form>
    </mat-dialog-content>
</ng-template>



<ng-template #jobordereditmodel>
    <div mat-dialog-title class="dialog-title">
        <h2>Edit Items</h2>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon" (click)="closemodel()"
            style="border: none; background: none">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content style="overflow: initial">
        <form #myaddeditform="ngForm" (ngSubmit)="saveaddededitdata(myaddeditform)">
            <div class="row">
                <div class="col-md-2">
                    <label>Service Code<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" class="matformfieldstyles" style="width: 335px;
                        margin-left: -11px;">
                            <input type="text" class="inputdropdown1" placeholder="Enter  Service Code"
                                aria-label="Number" matInput name="number"
                                [(ngModel)]="jodata1.number" [matAutocomplete]="auto2" />
                            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete"
                           (optionSelected)="getserviceDescriptionEdit()" (keyup)="filterServiceCodeEdit($event)">
                                <mat-option *ngFor="let item of servicemasterData" [value]="item.code">
                                    {{ item.code }}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Description<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="job_description"
                        [(ngModel)]="jodata1.job_description" placeholder="=Enter Service Description"/>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Unit Price<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="unit_price" [(ngModel)]="jodata1.unit_price" placeholder="Enter Unit Price"/>
                </div>
                <div class="col-md-2">
                    <label>Quantity<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="quantity" [(ngModel)]="jodata1.quantity" placeholder="Enter Quantity"/>
                </div>
                <div class="col-md-2">
                    <label>Total Price<span class="mandetory">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="inputstyles" name="total_amount" [(ngModel)]="jodata1.total_amount" placeholder="Enter Total Amount"/>
                </div>
            </div>

            <br />
            <button class="savebutton" style="width: 8%; font-weight: 500; margin-left: 43%; margin-top: 3%"
                type="submit">
                Update
            </button>
        </form>
    </mat-dialog-content><br />
</ng-template>
<!-- ///////////////////////////// -->
<ng-template #Editmodel>
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-2">
                <label style="padding-top: 5px">Reason</label>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Please Enter Reason" class="inputstyles" name="reason"
                    [(ngModel)]="editModel.reason" style="width: 181%" />
            </div>
        </div>
    </div>
    <br />
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="matButton">Close</button>&nbsp;
        <button mat-button cdkFocusInitial (click)="saveeditreason()" class="matButton" [disabled]="!editModel.reason">
            Submit
        </button>
    </div>
</ng-template>
<!-- //////////////////////////////////////// -->
<ng-template #deleteItemModel>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-md-2">
                <label style="padding-top: 5px">Reason</label>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Please Enter Reason" class="inputstyles" name="reason"
                    [(ngModel)]="deleteModel.reason" style="width: 181%" />
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="matButton">Close</button>&nbsp;
        <button mat-button cdkFocusInitial (click)="deleteFile()" class="matButton" [disabled]="!deleteModel.reason">
            Delete
        </button>
    </div>
</ng-template>
<!-- ////////////////////////upload -->
<ng-template #fileuploadmodel>
    <div mat-dialog-title class="dialog-title">
        <h2>Job Order {{ jonumber }}</h2>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon" (click)="closemodel()"
            style="border: none; background: none; margin-top: -9%">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="row">
        <div *ngIf="filedata">
            <table>
                <thead style="background: #e9ecef">
                    <th>Cread By</th>
                    <th>Created Date</th>
                    <th>File Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of filedata">
                        <td>{{ item.created_by }}</td>
                        <td>{{ item.created_date }}</td>
                        <td>
                            {{ item.file_name }} &nbsp;&nbsp;&nbsp;<i class="fas fa-eye text-cyan m-r-20"
                                style="cursor: pointer" title="View File" (click)="viewDoc(item)"></i>
                        </td>
                        <td>
                            <button mat-icon-button style="color: red; border: none; cursor: pointer"
                                aria-label="Example icon button with a vertical three dot icon"
                                (click)="deleterowfile(deletefileModel, item)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <button mat-raised-button type="button" (click)="autoFileUpload1.click()">
        Attach File
    </button>
    <div class="file">
        <input hidden class="form-control-file" name="file" type="file" multiple (change)="uploadWbsFile($event)"
            #autoFileUpload1 />
        <ng-container *ngIf="fileUploadUrls.length > 0">
            <div *ngFor="let item of filenamearray; let i = index">
                {{ i + 1 }}.&nbsp;{{ item }}
            </div>
        </ng-container>
    </div>
</ng-template>
<ng-template #deletefileModel>
    <h1 mat-dialog-title>Delete Activity</h1>
    <div mat-dialog-content>Are you sure, you want to delete file?</div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="matButton">Close</button>&nbsp;
        <button mat-button cdkFocusInitial (click)="deleteexistingfile()" class="matButton">
            Delete
        </button>
    </div>
</ng-template>