<mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label> User Credentials </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-0">
                            <button mat-raised-button class="savebutton" style="width: 14%"
                                (click)="savefinaldata(finalsave)">
                                Save
                            </button>
                        </div>
                        <div class="col-0" style="padding-left: 7px">
                            <button mat-raised-button type="submit" (click)="clearCheckBox()" class="savebutton">
                                Clear
                            </button>
                        </div>
                    </div>
                    <br />
                    <form #finalsave="ngForm" (ngSubmit)="savefinaldata(finalsave)">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Role<span class="mandetory">*</span></label>
                                <select class=" dropdownstyles" name="roles" [(ngModel)]="formdata.role"
                                    (change)="moduleRoles()">
                                    <option selected>Select One</option>

                                    <option *ngFor="let item of RoleData$" [ngValue]="item.role">{{item.role}}</option>
                                </select>
                                <!-- <mat-form-field class="dropdown" appearance="outline" class="matformfieldstyles">
                    <input type="text" class="inputdropdown1" placeholder="Search  Role" aria-label="Number"
                      matInput name="contractorname" [(ngModel)]="model1.RoleData"
                      (keyup)="filterRoledata($event)" [matAutocomplete]="auto1" style="
                        font-size: 14px;
                        margin-top: -5px;
                        margin-bottom: 3px;
                      " />
                    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                      <mat-option *ngFor="let item of RoleData$" [value]="item.role">
                        {{ item.role }}</mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
                            </div>
                            <div class="col-3">
                                <label>Sub-Role<span class="mandetory">*</span></label>
                                <select class=" dropdownstyles" name="sub_role" [(ngModel)]="formdata.sub_role"
                                    (change)="moduleRoles()">
                                    <option selected>Select One</option>
                                    <option *ngFor="let item of SubRolesData$" [ngValue]="item.sub_role">
                                        {{item.sub_role}}</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label>Departments<span class="mandetory">*</span></label>
                                <select class=" dropdownstyles" name="depts" [(ngModel)]="formdata.deparment_name"
                                    (change)="moduleRoles()">
                                    <option selected>Select One</option>
                                    <option *ngFor="let item of DeptData$" [ngValue]="item.deparment_name">
                                        {{item.deparment_name}}</option>
                                </select>

                            </div>
                            <div class="col-3">
                                <label> Dashboard<span class="mandetory">*</span></label>
                                <mat-form-field  class="example-full-width" style=" width:100%;
                                border: 1px solid rgba(0, 0, 0, 0.12);
                                border-radius: 5px;
                                height: 35px;" appearance="none">
                                    <input type="text" placeholder="Search Dashboard " aria-label="Number"
                                        matInput style="border:none" class="inputdropdown" name="dashboard"
                                        [(ngModel)]="formdata.dashboard" (keyup)="getdashboarddata($event)"
                                        [matAutocomplete]="auto11" />
            
                                    <mat-autocomplete autoActiveFirstOption #auto11="matAutocomplete">
            
                                        <mat-option *ngFor="let item of userModule" [value]="item">
                                            {{item}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                        </div>
                    </form>
                    <ng-container>
                        <div class="row m-t-10">
                          <div class="col-md-12 col-12">
                            <div class="table table-responsive" mat-table-wrapper>
                              <div class="example-table-container">
                                <table mat-table [dataSource]="dataSourceList">
                                  <ng-container matColumnDef="sno">
                                    <th mat-header-cell *matHeaderCellDef style="width: 8%">
                                      SNO
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                      {{
                                      i +
                                      1 +
                                      purcreqpaginator.pageIndex * purcreqpaginator.pageSize
                                      }}
                                    </td>
                                  </ng-container>
                                  <!-- <ng-container hidden matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="width: 24%">
                                     ID
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                                  </ng-container> -->
                                  <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef style="width: 24%">
                                     Role
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.role }}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="sub_role">
                                    <th mat-header-cell *matHeaderCellDef>Sub-Role</th>
                                    <td mat-cell *matCellDef="let row">{{ row.sub_role }}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="department">
                                    <th mat-header-cell *matHeaderCellDef>Department</th>
                                    <td mat-cell *matCellDef="let row">{{ row.department }}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="dash_board">
                                    <th mat-header-cell *matHeaderCellDef style="width: 13%">
                                      Dashboard
                                    </th>
                                    <td mat-cell *matCellDef="let row">{{ row.dash_board }}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let row" class="text-center">
                                        <mat-icon matTooltip="Delete"
                                        style="color: red;border:none;background: none;cursor: pointer;"
                                        (click)="deleteItem(row,deleteitemofList)">delete</mat-icon>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayedColumnsList; sticky: true"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumnsList"></tr>
                                </table>
                                <div *ngIf="reaData == true" class="text-center">
                                  <h4 class="text-secondary m-3" *ngIf="loadingRecords">
                                    Loading...
                                  </h4>
                                  <h4 class="text-secondary m-3" *ngIf="!loadingRecords">
                                    No Records Found
                                  </h4>
                                </div>
                                <mat-paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
                                  #purcreqpaginator (page)="onpageevent($event)">
                                </mat-paginator>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </mat-tab>
  </mat-tab-group>

  <ng-template #deleteitemofList>
    <h1 mat-dialog-title>Delete Activity</h1>
    <div mat-dialog-content>
        <p>Are you sure, you want to delete record?</p>
        <div class="row">
            <div class="col-md-2">
                <label style="padding-top: 5px">Reason</label>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Please Enter Reason" class="inputstyles" name="reason"
                    [(ngModel)]="deletemodel.reason" style="width: 181%" />
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="matButton" style="background: transparent">
            Close</button>&nbsp;
        <button mat-button cdkFocusInitial (click)="deleteFile()" class="matButton" [disabled]="!deletemodel.reason">
            Delete
        </button>
    </div>
</ng-template>
