.inputstyles{
  padding:5px;
  margin:5px;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.12);
  height: 35px;
}
.inputstyles:placeholder-shown{
  color: #da2424;
}
.dropdownstyles{
  padding:5px;
  margin:5px;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.12);
  height: 33px;
}
.savebutton{
  // margin-left: 43%;
  // margin-top: 3%;
  height: 33px;
  // width: 16%;
  border-radius: 5px;
  transition-duration: 0.4s;
  outline: none;
  // border: 1px solid;
  background-color: rgba(0, 0, 0, 0.12);
  font-size: medium;
}
.attachfile{
  // margin-top: 2.8%;
  background-color: rgba(0, 0, 0, 0.12);
  height: 33px;
}
.mandetory{
  color:red;
  font-size: 17px;
}
.svaebutton:hover{
background-color: whitesmoke;
}

input{
  width:100%;
}
select{
  width:100%;
}
.inputstyles:hover{
  border:2px solid black
}
// .inputdropdown:hover{
//     border: 2px solid black;
// }
.dropdownstyles:hover{
  border:2px solid black;
}
.table th {
  /* vertical-align: bottom; */
  vertical-align: middle !important;
  border-bottom: 2px solid #e9ecef;
  text-align: center !important;
}
.table td{
  vertical-align: middle !important;
  text-align: center;
}
// .mat-form-field-wrapper {
//     padding-bottom: 0px !important; 
//     margin-top:-15px !important;
// }
.inputdropdown{
  margin-top: -7%;
  // margin-bottom: 12px;
  margin-left: 1%;
  border: none;
  outline: none;
  // height: 35px;
}
.matButton {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}
.matButton:hover{
  background: transparent;
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
}
.mat-form-field-flex:hover {
  border:2px solid black;
}
.dropdown:hover{
  border:none;
}
table, th, td {
  border: 1px solid #e5dfdf;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color:white;
  background-color: rgba(0, 0, 0);
  // border: 5px solid orange
  }
  .closeicon{
      float: right;
      margin-top: -6%;
  }
// .clrbtnpstn{
//     position:absolute !important;
//     // top: 48%;
//     // right: 42%;
// }
.dialogdata{
  max-height: 200px;
  overflow-y: auto;
  }
  .tablestyles{
      background: #e9ecef;
      font-weight: 600;
      height: 41px;
  }
  .mat-dialog-content{
      overflow: initial;
  }
  label{
      font-weight: 450;
  }
  .tablediv{
      max-height: 300px;
      overflow-y: auto;
  }
  .activitylog{
      font-size: 16px;
  margin-bottom: 0px;
  margin-left:5px;
  }
  .headerclass{
      position: sticky;
      top: -2px; 
      background: #e9ecef;
  }
  .validationclass{
      text-align: end;
      /* float: right; */
      left: -4%;
      color: red;
  }
  .matformfieldstyles{
      font-size: 9px;
      width: 100%;
      left: 5px;
      /* margin-left: 5px; */
      top: 2px;
      
  }