<!-- <div class="page-breadcrumb page-header">
  <div class="row">
    <div class="col-12 align-self-center">
      <h4 class="page-title">Gate Outward GI2</h4>
    </div>
  </div>
</div> -->
<div class="gi2-tab">
  <mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms" #tabGroup [(selectedIndex)]="demo1TabIndex">
    <mat-tab>
      <ng-template mat-tab-label>Gate Outward GI2</ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <form #finalform="ngForm" (ngSubmit)="savefinaldata(finalform)">
              <div class="row">
                <div class="col-md-0 mb-2">
                  <button type="submit" mat-raised-button class="savebutton" style="float: right">
                    {{ btn }}
                  </button>
                </div>
                <div class="col-md-1">
                  <button type="button" mat-raised-button class="attachfile" color="secondary"
                    (click)="autoFileUpload2.click()">
                    Attach File&nbsp;
                    <mat-icon style="cursor: pointer; font-size: 24px">file_upload</mat-icon>
                  </button>
                  <div class="file">
                    <input hidden class="form-control-file" name="file" type="file" multiple
                      (change)="uploadgi2files($event)" #autoFileUpload2 />
                    <ng-container *ngIf="fileUploadUrlsgi2.length > 0">
                      <div *ngFor="let item of filenamearray; let i = index">
                        {{ i + 1 }}.&nbsp;{{ item }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                
                <div class="col-md-3">
                  <label>Date<span class="mandetory">*</span></label>
                  <input type="date" style="text-transform: uppercase" class="inputstyles" dateFormat="yyyy/mm/dd"
                    name="date" [(ngModel)]="model1.date" />
                </div>
                <div class="col-md-3">
                  <label>Time<span class="mandetory">*</span></label>
                  <input type="time" class="inputstyles" name="time" value="now" [(ngModel)]="model1.time" />
                </div>
                <div class="col-md-3">
                  <label>Gate ID<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Gate Id" name="gateid"
                    [(ngModel)]="model1.gateid" />
                </div>
                <div class="col-md-3">
                  <label>Guard Name<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Guard Name" name="guardname"
                    [(ngModel)]="model1.guardname" />
                </div>
            
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Document Number<span class="mandetory">*</span></label>

                  <!-- <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input type="text"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option selected>Select One</mat-option>
                         | async" [value]="option.number"
                        <mat-option *ngFor="let option of selecteddocnumbers" [ngValue]="option.number" >
                          {{option.number}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form> -->

                  <select class="dropdownstyles" name="documentnumber" [(ngModel)]="model1.documentnumber" (change)="getgoodsissuedata()">
                    <option value="undefined" selected disabled>Select One</option>
                    <option *ngFor="let item of selecteddocnumbers" [ngValue]="item.number">
                      {{ item.number }}
                    </option>
                  </select>
                  
                  <!-- <input type="text" class="inputstyles" placeholder="Enter Document Number" name="documentnumber"
                    [(ngModel)]="model1.documentnumber" /> -->
                </div>
                <div class="col-md-3">
                  <label>Document Date<span class="mandetory">*</span></label>
                  <input type="date" style="text-transform: uppercase" class="inputstyles" dateFormat="yyyy/mm/dd"
                    name="documentdate" [(ngModel)]="model1.documentdate" />
                </div>
              
                <div class="col-md-3">
                  <label>
                    Consignee Name<span class="mandetory">*</span></label>
                  <select class="dropdownstyles" name="contractorname" [(ngModel)]="model1.contractorname">
                    <option [value]="undefined" selected disabled>Select One</option>
                    <option *ngFor="let item of contracordata" [ngValue]="item.name">
                      {{ item.name }}
                    </option>
                  </select>
                </div>

                <div class="col-md-3">
                  <label>Vehicle Number<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Vehicle Number" name="vehiclenumber"
                    [(ngModel)]="model1.vehiclenumber" />
                </div>
                

              </div>
              <div class="row">
              
                <div class="col-md-3">
                  <label> Carrier Name<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Carrier Name" name="carriername"
                    [(ngModel)]="model1.carriername" />
                </div>
                <div class="col-md-3">
                  <label>Carrier&nbsp;Contact&nbsp;Number<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Carrier Contact Number"
                    name="carriercontactnumber" [(ngModel)]="model1.carriercontactnumber" />
                </div>
              

                <div class="col-md-3">
                  <label> Comments<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Comments" name="comments"
                    [(ngModel)]="model1.comments" />
                </div>

                <div class="col-md-3">
                  <label> Remarks<span class="mandetory">*</span></label>
                  <input type="text" class="inputstyles" placeholder="Enter Remarks" name="remarks"
                    [(ngModel)]="model1.remarks" />
                </div>
              </div>


            </form>
            <div class="row p-10">
              <div class="col-12 float-right text-right">
                <button mat-icon-button value="Add" matTooltip="Add" class="custom-icon-button"
                  (click)="addGi2Data(gi2model)">
                  <span class="material-icons"> add </span>
                </button>
              </div>
            </div>

            <ng-container>
              <div class="row p-t-10">
                <div class="col-12 col-md-12">
                  <div class="table-responsive mat-table-wrapper">
                    <div class="example-table-container">
                      <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="sno">
                          <th mat-header-cell *matHeaderCellDef>SNO</th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            {{ i + 1 }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="materialCode">
                          <th mat-header-cell *matHeaderCellDef>
                            Material Code
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.material_code }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="materialDescription">
                          <th mat-header-cell *matHeaderCellDef>
                            Material Description
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.material_description }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="unit_of_measurement">
                          <th mat-header-cell *matHeaderCellDef>UOM</th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.uom || row.unit_of_measurment }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef>Quantity</th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.qty || row.quantity }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef>Action</th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            <button class="btn" style="border: none">
                              <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-primary"
                                (click)="editGi2data(row, i, editGi2Formdata)">
                                edit</mat-icon>
                            </button>
                            <button mat-icon-button style="color: red; border: none; background: none"
                              aria-label="Example icon button with a vertical three dot icon"
                              (click)="deleterowData(i)">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> List </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <ng-container>
              <div class="row">
                <div class="col-4 mt-2 mb-3 d-flex">
                  <label class="mt-2">Search&nbsp;Column&nbsp;By:&nbsp;</label>
                  <select class="dropdownstyles" name="columnname" [(ngModel)]="columnname" (change)="onChange()">
                    <option [value]="undefined"selected disabled>Select Column</option>
                    <option value="number">Number</option>
                    <!-- <option value="company_name">Company Name</option> -->
                  </select>
                </div>
                <div class="col-3 mt-2 mb-3">
                  <input type="search" class="searchfield inputstyles" placeholder="Search" [(ngModel)]="searchData"
                    (keyup)="search()" />
                </div>
              </div>
              <div class="row p-t-10">
                <div class="col-12 col-md-12">
                  <div class="table-responsive mat-table-wrapper">
                    <div class="example-table-container">
                      <table mat-table [dataSource]="dataSourcemain">
                        <ng-container matColumnDef="sno">
                          <th mat-header-cell *matHeaderCellDef style="width: 6%">
                            Gate Entry Number
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index">
                            {{
                            i +
                            1 +
                            masterpaginator.pageIndex *
                            masterpaginator.pageSize
                            }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="GateEntryNumber">
                          <th mat-header-cell *matHeaderCellDef>
                            Gate Entry Number
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.number }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Date">
                          <th mat-header-cell *matHeaderCellDef>Date</th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.date | date: "dd/MM/yyyy" }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="document_number">
                          <th mat-header-cell *matHeaderCellDef>
                            Document Number
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.document_number }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="gateId">
                          <th mat-header-cell *matHeaderCellDef>Gate ID</th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.gate_id }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="contractor_name">
                          <th mat-header-cell *matHeaderCellDef style="width: 7%">
                            Contractor Name
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.contractor_name }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef style="width: 11%">
                            Action
                          </th>
                          <td mat-cell *matCellDef="let row" class="text-center">
                            <div class="mb-0">
                              <mat-icon style="
                                  color: red;
                                  border: none;
                                  background: none;
                                " (click)="deleteItem(row, deleteItemModel)">delete</mat-icon>&nbsp;
                              <mat-icon (click)="
                                  openfileuploadmodel(fileuploadmodel, row)
                                " style="cursor: pointer; font-size: 24px">file_upload</mat-icon>
                            </div>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                      </table>
                    </div>
                    <div *ngIf="reaData == true" class="text-center">
                      <h4 class="text-secondary m-3" *ngIf="loadingRecords">
                        Loading...
                      </h4>
                      <h4 class="text-secondary m-3" *ngIf="!loadingRecords">
                        No Records Found
                      </h4>
                    </div>
                    <mat-paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
                      #masterpaginator (page)="onpageevent($event)">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Activity Log </ng-template>
      <ng-template matTabContent>
        <mat-card>
          <mat-card-content>
            <!-- <h2 *ngIf="logdata" class="activitylog">Activity Log</h2> -->
            <div class="tablediv" *ngIf="logdata">
              <table>
                <thead style="background: #e9ecef" class="text-center headerclass">
                  <!-- <tr> -->
                  <th>SNO</th>
                  <th style="padding: 10px">User Name</th>
                  <th>Created Date</th>
                  <th>Reference Number</th>
                  <th>Description</th>
                  <th>Reason</th>
                  <th>Action</th>
                  <!-- </tr> -->
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let item of logdata; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.date_time | date: "dd-MM-yyyy HH:mm:ss" }}</td>
                    <td>{{ item.reference_number }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.reason }}</td>
                    <td>
                      {{ item.action }}
                      <!-- <button mat-icon-button style="color: red;border:none;cursor: pointer;"
                                                   aria-label="Example icon button with a vertical three dot icon"
                                                    >
                                                     <mat-icon>delete</mat-icon>
                                                     </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #gi2model>
  <div mat-dialog-title class="dialog-title">
    <div class="row">
      <div class="col-11">
        <h2>Add Items</h2>
      </div>
      <div class="col-1">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon" (click)="closedialogdata()"
          style="border: none; background: none">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-dialog-content style="overflow: initial">
    <form #myaddform="ngForm" (ngSubmit)="binddatatotable(myaddform)">
      <div class="row">
        <div class="col-md-2">
          <label>Material Name<span class="mandetory">*</span></label>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width" style="
              width: 100%;
              border: 1px solid;
              border-radius: 5px;
              height: 52%;
            " appearance="none">
            <input type="text" placeholder="Search Material Code/Name " aria-label="Number" matInput
              style="border: none" class="inputdropdown" name="matcode" [(ngModel)]="dialogdata.matcode"
              (keyup)="filterdata($event)" [matAutocomplete]="auto" />

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedmaterialuom()">
              <mat-option *ngFor="let item of masterData" [value]="item.system_reference_1">
                {{ item.system_reference_1 }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <label>Unit Of Measurement<span class="mandetory">*</span></label>
        </div>
        <div class="col-md-4">
          <input type="text" class="inputstyles" name="uom" [(ngModel)]="dialogdata.uom" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Quantity<span class="mandetory">*</span></label>
        </div>
        <div class="col-md-4">
          <input style="margin: 0px" type="text" class="inputstyles" name="qty" [(ngModel)]="dialogdata.qty" />
        </div>
      </div>
      <br />

      <button mat-raised-button class="savebutton" style="font-weight: 500; margin-left: 43%; margin-top: 3%"
        [disabled]="!dialogdata.matcode">
        Add
      </button>
    </form>
  </mat-dialog-content>
</ng-template>
<ng-template #editGi2Formdata>
  <div mat-dialog-title class="dialog-title">
    <div class="row">
      <div class="col-11">
        <h2>Edit Items</h2>
      </div>
      <div class="col-1">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon float-right"
          (click)="closedialogdata()" style="border: none; background: none">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-content>
    <form #myeditformdata="ngForm" (ngSubmit)="editbindedDatatotable(myeditformdata)">
      <div class="row">
        <div class="col-md-2">
          <label>Material Name<span class="mandetory">*</span></label>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width" style="
              width: 100%;
              border: 1px solid;
              border-radius: 5px;
              height: 52%;
            " appearance="none">
            <input type="text" placeholder="Search Material Code/Name " aria-label="Number" matInput
              style="border: none" class="inputdropdown" name="matcode" [(ngModel)]="editeddialogdata.matcode"
              (keyup)="editfilterdata($event)" [matAutocomplete]="auto6" />

            <mat-autocomplete autoActiveFirstOption #auto6="matAutocomplete"
              (optionSelected)="selectedmaterialuomedit()">
              <mat-option *ngFor="let item of masterData" [value]="item.system_reference_1">
                {{ item.system_reference_1 }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <input *ngIf="editeddata" type="text" class="inputstyles" name="matcode"
            [(ngModel)]="editeddialogdata.matcode" />
        </div>

        <div class="col-md-2">
          <label>Unit Of Measurement<span class="mandetory">*</span></label>
        </div>
        <div class="col-md-4">
          <input type="text" class="inputstyles" name="uom" [(ngModel)]="editeddialogdata.uom" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label>Quantity<span class="mandetory">*</span></label>
        </div>
        <div class="col-md-4">
          <input style="margin: 0px" type="text" class="inputstyles" name="quantity" [(ngModel)]="editeddialogdata.qty"
            (keypress)="keyPressNumbers($event)" />
        </div>
      </div>
      <br />

      <button mat-raised-button class="savebutton" style="font-weight: 500; margin-left: 43%; margin-top: 3%">
        Update
      </button>
    </form>
  </mat-dialog-content>
</ng-template>
<ng-template #deleteItemModel>
  <h1 mat-dialog-title>Delete Activity</h1>
  <div mat-dialog-content>
    <p>Are you sure, you want to delete record?</p>
    <div class="row">
      <div class="col-md-2">
        <label style="padding-top: 5px">Reason</label>
      </div>
      <div class="col-md-4">
        <input type="text" placeholder="Please Enter Reason" class="inputstyles" name="reason"
          [(ngModel)]="deletemodel.reason" style="width: 181%" />
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="matButton">Close</button>&nbsp;
    <button mat-button cdkFocusInitial (click)="deleteFile()" class="matButton" [disabled]="!deletemodel.reason">
      Delete
    </button>
  </div>
</ng-template>
<ng-template #fileuploadmodel>
  <div mat-dialog-title class="dialog-title">
    <h2>Gate Outward GI2: {{ gi2number }}</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon" (click)="closedialogdata()"
      style="border: none; background: none; margin-top: -9%">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="row">
    <div *ngIf="filedata">
      <table>
        <thead style="background: #e9ecef">
          <!-- <tr> -->
          <th>Cread By</th>
          <th>Created Date</th>
          <th>File Name</th>
          <th>Action</th>
          <!-- </tr> -->
        </thead>
        <tbody>
          <tr *ngFor="let item of filedata">
            <td>{{ item.created_by }}</td>
            <td>{{ item.created_date }}</td>
            <td>
              {{ item.file_name }} &nbsp;&nbsp;&nbsp;<i class="fas fa-eye text-cyan m-r-20" style="cursor: pointer"
                title="View File" (click)="viewDoc(item)"></i>
            </td>
            <td>
              <button mat-icon-button style="color: red; border: none; cursor: pointer"
                aria-label="Example icon button with a vertical three dot icon"
                (click)="deleterowfile(deletefileModel, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <button mat-raised-button type="button" (click)="autoFileUpload1.click()">
    Attach File
  </button>
  <div class="file">
    <input hidden class="form-control-file" name="file" type="file" multiple (change)="uploadWbsFile($event)"
      #autoFileUpload1 />
    <ng-container *ngIf="fileUploadUrls.length > 0">
      <div *ngFor="let item of filenamearray1; let i = index">
        {{ i + 1 }}.&nbsp;{{ item }}
      </div>
    </ng-container>
  </div>
</ng-template>
<ng-template #deletefileModel>
  <h1 mat-dialog-title>Delete Activity</h1>
  <div mat-dialog-content>Are you sure, you want to delete file?</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="matButton">Close</button>&nbsp;
    <button mat-button cdkFocusInitial (click)="deleteexistingfile()" class="matButton">
      Delete
    </button>
  </div>
</ng-template>