<mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            DEPARTMENTS
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-dept></app-dept>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            ROLES
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-roles></app-roles> 
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            SUB ROLES
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-sub-roles></app-sub-roles>
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            MENUS
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-menus></app-menus>
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            User Credentials
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-usercredentials></app-usercredentials>
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            User Companies
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-user-companies></app-user-companies>
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
           Signature Levels
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                   <app-signaturelevels></app-signaturelevels>
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          User Dashboards
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                   <app-userdashbords></app-userdashbords>
                </mat-card-content>
            </mat-card>

        </ng-template>
    </mat-tab>
</mat-tab-group>