.background{
    background-color: #fff;
    border:1px solid black;
    padding:10px;
    margin:10px;
}

.border{
  border: 1px solid black !important;
 }
.row p{
   margin-top:14px;
 }
 .row .sub{
       padding: 5px;
 }

.padding{
padding-top: 60px;
}
.formbody{
margin:20px;
padding:20px;

line-height: 11px;
font-size: small;
}
.remarks-margin{
margin-left:0px !important;
margin-right:0px !important;
}
@media print {
.print {
  display: none !important;
 
}

}
.border-bottom{
border-bottom: 1px solid black !important;
}
.center{
text-align: center;
}
.right{
text-align: right;
}