.formbody{
    margin:10px;
    padding:10px;
    // border:2px solid black;
    // line-height: 11px;
  font-size: 18px;
  }
  table{
    width: 100%;
  }
  hr{
    border-top: 1px solid black ;
    // text-align: right;
    margin-left:22px;
  }
  .border{
    border:1px solid black !important;
  }
  .ptext{
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #4d4d4d;
    // margin-bottom: 0 !important;
}
.pline{
    border: 1px dashed black;
    margin-left: 0;
}
   @media print {
  .noPrint {
      display: none !important;
    }
  .formbody{
    line-height: 25px;
    font-size: 19px;
    // padding: 7px;
  }
  .head h4{
    background-color: #000;
    color:#fff;
    font-weight:bold
  }
  }
  .printinvoice{
    background-color: #fff;
}
.footerTable{
  width: 100% ;text-align: center;  position: absolute;
      bottom: 5%;font-weight: 400;
}

.sign-width {
  width: 150px;
  height: 50px;
}
.col:first-child{
  text-align: start;
}
.col{
  text-align: center;
}
.col:last-child{
  text-align: end;
}
.btn-custom{
  background-color: #888;
  padding: 5px 10px;
  color: #fff;
  width: 80px;
  border-radius: 3px;
}
.companyAddr{
  // text-align: justify;
  font-size: 16px;
  line-height: 22px;
}

.inputstyles {
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 35px;
  width: 100%;
  }
  .inputstyles:placeholder-shown {
      color: #da2424;
  }
  .inputstyles:hover {
      border: 2px solid black
  }