<!-- <div class="page-breadcrumb page-header">
    <div class="row">
        <div class="col-12 align-self-center">
            <h4 class="page-title">Work Completion</h4>
        </div>
    </div>
</div> -->
<div class="work-requestTab">
    <mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms" [(selectedIndex)]="demo1TabIndex">
        <mat-tab>
            <ng-template mat-tab-label>
                Work Completion Report
            </ng-template>
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-content>
                        <div *ngIf="initialdata">
                        <div class="row">
                            <div class="col-4">
                                <label>WO Number<span class="mandetory">*</span></label>
                                <select class="dropdownstyles" [(ngModel)]="formdata.wonumber" name="wonumber"
                                placeholder="Enter WO Number" >
                                <option selected disabled>Select One</option>
                                <option *ngFor="let item of WOdata" [ngValue]="item.number">{{item.number}}
                                </option>
                            </select>
                            </div>
                          
                            <div class="col-1"> 
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button mat-raised-button class="mt-1 savebutton" (click)="selectedwonumber()" [disabled]="!formdata.wonumber">Select</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="secondarydata">
                        <h2 *ngIf="!editednumber">WorkOrder Number:&nbsp;{{formdata.wonumber}}</h2>
                        <h2 *ngIf="editednumber">WCR Number:&nbsp;{{editednumber}}</h2>
                        <div class="row mb-2">
                            
                            <div class="col-1">
                                <button mat-raised-button class="savebutton" (click)="savefinaldata()" >{{btn}}</button>
                            </div>
                            <div class="col-1">
                                <button mat-raised-button class="savebutton" (click)="backtoprevious()" >Back</button>                                
                            </div>
                            <div class="col-md-1">
                                <button
                                type="button"
                                mat-raised-button
                                class=" attachfile"
                                color="secondary"
                                (click)="autoFileUpload2.click()"
                              >
                                Attach File&nbsp;  <mat-icon 
                                style="cursor:pointer;font-size:24px">file_upload</mat-icon></button>
                                <div class="file">
                                  <input hidden class="form-control-file" name="file" type="file" multiple
                                  (change)="uploadwcfiles($event)" #autoFileUpload2  >
                                  <ng-container *ngIf=" fileUploadUrlswc.length > 0">
                                
                                  <div *ngFor="let item of filenamearray1;let i=index;" style="white-space: nowrap;">{{i+1}}.&nbsp;{{item}}</div> 
                                  </ng-container>         
                                  </div>
                            </div>
                            </div>
                        <form #finalform="ngForm" >
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Company Name<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.companyname" 
                                    name="companyname" readonly>
                                    <!-- <select class="dropdownstyles" [(ngModel)]="formdata.companyname" name="companyname"
                                        placeholder="Enter Company Name">
                                        <option selected disabled>Select One</option>
                                        <option *ngFor="let item of companyData" [ngValue]="item.name">{{item.name}}
                                        </option>
                                    </select> -->
                                </div>
                                <div class="col-2">
                                    <label>Contract Duration<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.duration"
                                    name="duration" placeholder="Enter Contract Duration" (keypress)="validateNumber($event)">
                                </div>
                                <div class="col-3">
                                    <label>Location<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.location"
                                        name="location" placeholder="Enter Contactor Name">
                                </div>
                                <div class="col-3">
                                    <label>Brief Description<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.description"
                                        name="description" placeholder="Enter Brief Description">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Address<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.address"
                                    name="address">
                                </div>
                               
                                <div class="col-2">
                                    <label>Work Completion Date<span class="mandetory">*</span></label>
                                    <input type="date" style="text-transform: uppercase;"
                                    class="inputstyles"
                                    [(ngModel)]="formdata.wcrdate" name="wcrdate">
                                </div>
                                <div class="col-3">
                                    <label>Contractor Name<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.contractor" 
                                    name="contractor" readonly>
                                    <!-- <select class="dropdownstyles" [(ngModel)]="formdata.contractor" name="contractor">
                                        <option selected disabled>Select One</option>
                                        <option *ngFor="let item of contractorData" [ngValue]="item.name">{{item.name}}
                                        </option>
                                    </select> -->
                                </div>
                                <div class="col-3">
                                    <label>Date<span class="mandetory">*</span></label>
                                    <input type="date" style="text-transform: uppercase;"
                                        class="inputstyles form-control" dateFormat="yyyy/mm/dd"
                                        [(ngModel)]="formdata.date" name="date">
                                </div>
                            </div>
                          
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Warranty Period<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.wowarranty"
                                    name="wowarranty" placeholder="Enter WO Warranty" (keypress)="validateNumber($event)">
                                </div>
                                <div class="col-2">
                                    <label>Work Order Date<span class="mandetory">*</span></label>
                                    <input type="date" class="inputstyles form-control" [(ngModel)]="formdata.wodate"
                                    name="wodate" style="text-transform: uppercase;" dateFormat="yyyy/mm/dd">
                                </div>
                                <div class="col-3">
                                    <label>Retention Release Recommendation<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.retention"
                                    name="retention" placeholder="Enter Retention Release recommendation" (keypress)="validateNumber($event)">
                                </div>
                                <div class="col-3">
                                    <label>Retention Release Clearance<span class="mandetory">*</span></label>
                                    <input type="text" class="inputstyles" [(ngModel)]="formdata.clearence"
                                    name="clearence" placeholder="Enter Retention Release Clearance" (keypress)="validateNumber($event)">
                                </div>
                            </div>
                        </form>
                        
                            
                    </div>
                    <h2 *ngIf="logdata" class="activitylog">Activity Log</h2>
                    <div class="tablediv" *ngIf="logdata" >
                    <table >
                      <thead style="background: #e9ecef;" class="text-center headerclass">
                          <!-- <tr> -->
                              <th>SNO</th>
                              <th style="padding:10px;">User Name</th>
                              <th>Created Date</th>
                              <th>Reference Number</th>
                              <th>Description</th>
                              <th>Reason</th>
                              <th>Action</th>
                          <!-- </tr> -->
                      </thead>
                      <tbody class="text-center">
                          <tr *ngFor="let item of logdata;let i=index;">
                              <td>{{i+1}}</td>
                              <td>{{item.username}}</td>
                              <td>{{item.date_time | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                              <td >{{item.reference_number}} </td>
                              <td >{{item.description}} </td>
                              <td >{{item.reason}} </td>
                                  <td>{{item.action}}
                                      <!-- <button mat-icon-button style="color: red;border:none;cursor: pointer;"
                                         aria-label="Example icon button with a vertical three dot icon"
                                          >
                                           <mat-icon>delete</mat-icon>
                                           </button> -->
                                  </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                List
            </ng-template>
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-content>
                        <ng-container>
                            <div class="row m-t-10">
                                <div class="col-md-12 col-12">
                                    <div class="table " mat-table-wrapper>
                                        <div class="table table-responsive" >
                                            <div class="example-table-container" >
                                            <table mat-table [dataSource]="dataSourceList">
                                                <ng-container matColumnDef="sno">
                                                    <th mat-header-cell *matHeaderCellDef>SNO</th>
                                                    <td mat-cell *matCellDef="let row;let i=index;">{{(i+1) +
                                                        (workrequestpaginator.pageIndex *
                                                        workrequestpaginator.pageSize)}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="date">
                                                    <th mat-header-cell *matHeaderCellDef >Date</th>
                                                    <td mat-cell *matCellDef="let row">{{row.date | date:'dd-MM-yyyy'}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="companyname">
                                                    <th mat-header-cell *matHeaderCellDef >Company Name</th>
                                                    <td mat-cell *matCellDef="let row">{{row.company_name}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="location">
                                                    <th mat-header-cell *matHeaderCellDef>Location</th>
                                                    <td mat-cell *matCellDef="let row">{{row.location}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="address">
                                                    <th mat-header-cell *matHeaderCellDef >Address</th>
                                                    <td mat-cell *matCellDef="let row">{{row.address}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="contractor_name">
                                                    <th mat-header-cell *matHeaderCellDef >Company Name</th>
                                                    <td mat-cell *matCellDef="let row">{{row.contractor_name}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="work_order_number">
                                                    <th mat-header-cell *matHeaderCellDef>WO Number</th>
                                                    <td mat-cell *matCellDef="let row">{{row.work_order_number}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="work_order_date">
                                                    <th mat-header-cell *matHeaderCellDef >Work Order Date</th>
                                                    <td mat-cell *matCellDef="let row">{{row.work_order_date | date:'dd-MM-yyyy'}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="contract_duration">
                                                    <th mat-header-cell *matHeaderCellDef >Contract Duration
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">{{row.contract_duration}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="brief_description_of_work">
                                                    <th mat-header-cell *matHeaderCellDef >Brief Description of
                                                        Work</th>
                                                    <td mat-cell *matCellDef="let row">{{row.brief_description_of_work}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="work_completion_date">
                                                    <th mat-header-cell *matHeaderCellDef>Work Completion Date
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">{{row.work_completion_date | date:'dd-MM-yyyy'}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="retention_release_recommendation">
                                                    <th mat-header-cell *matHeaderCellDef >Retention Release
                                                        Recomendation</th>
                                                    <td mat-cell *matCellDef="let row">{{row.retention_release_recommendation}}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="retention_release_clearance">
                                                    <th mat-header-cell *matHeaderCellDef >Retention Release
                                                        Recomendation</th>
                                                    <td mat-cell *matCellDef="let row">{{row.retention_release_clearance}}</td>
                                                </ng-container>
        
                                                <ng-container matColumnDef="number">
                                                    <th mat-header-cell *matHeaderCellDef >WCR Number</th>
                                                    <td mat-cell *matCellDef="let row">{{row.number}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="financial_year">
                                                    <th mat-header-cell *matHeaderCellDef >Financial Year</th>
                                                    <td mat-cell *matCellDef="let row">{{row.financial_year}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="serial">
                                                    <th mat-header-cell *matHeaderCellDef >Serial</th>
                                                    <td mat-cell *matCellDef="let row">{{row.serial}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="action">
                                                    <th mat-header-cell *matHeaderCellDef >Action</th>
                                                    <td mat-cell *matCellDef="let row" class="text-center">
                                                        <div class="mb-0">
                                                            <mat-icon style="border:none;background: none;cursor: pointer;"
                                                            (click)="editworkcompletiondata(row,Editmodel)">edit</mat-icon>
                                                            <mat-icon style="color: red;border:none;background: none;cursor: pointer;"
                                                            (click)="deletewcrdata(row, deletedata)">delete</mat-icon>&nbsp;
                                                            <mat-icon (click)="openfileuploadmodel(fileuploadmodel,row)"
                                                            style="cursor:pointer;font-size:24px">file_upload</mat-icon>&nbsp;
                                                        <mat-icon (click)="printworkcompletion(row)" style="cursor:pointer;"> local_printshop</mat-icon>
        
                                                        <!-- </button> -->
                                                        <!-- <i class="fa fa-paperclip" aria-hidden="true" (click)="openfileuploadmodel(fileuploadmodel,row)"
                                                        style="cursor:pointer;font-size:16px"></i> -->
                                                    </div>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumnsList;sticky: true">
                                                </tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumnsList"></tr>
                                            </table>
                                            <div *ngIf="reaData==true" class="text-center">
                                                <h4 class="text-secondary m-3" *ngIf="loadingRecords">
                                                    Loading...
                                                </h4>
                                                <h4 class="text-secondary m-3" *ngIf="!loadingRecords">
                                                    No Records Found
                                                </h4>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    </div>
                                    <mat-paginator [length]="totalRecords" [pageSize]="10"
                                    [pageSizeOptions]="[5,10, 25, 50, 75, 100]" #workrequestpaginator
                                    (page)="onpageevent($event)">
                                </mat-paginator>
                                </div>
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
             
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #deletedata>
    <h1 mat-dialog-title>Delete Activity</h1>
    <div mat-dialog-content>
        <p>Are you sure, you want to delete record?</p>
        <div class="row">
            <div class="col-md-2">
                <label style="padding-top: 5px;">Reason</label>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Please Enter Reason" class="inputstyles" name="reason"
          [(ngModel)]="deletemodel.reason" style="width: 181%;">  
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="matButton" style="background: transparent;">Close</button>&nbsp;
        <button mat-button cdkFocusInitial (click)="deleteItem()" class="matButton"
        [disabled]="!deletemodel.reason">Delete</button>
    </div>
</ng-template>
<ng-template #fileuploadmodel>
    <div mat-dialog-title class="dialog-title">
        <h2>Work Completion: {{wcnumber}}</h2>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close class="closeicon"
            (click)="closemodel()" style="border:none;background:none;margin-top: -9%;">
            <mat-icon>close</mat-icon>
        </button>
    </div>
   <div  mat-dialog-content class="row">
    <div *ngIf="filedata">
    <!-- <span *ngFor="let item of filedata"> -->
   <!-- <span *ngFor="let item of filedata"> <a href="{{item.file_path}}">{{item.file_path}}</a></span> -->
   <!-- <h4>View File:&nbsp;&nbsp; <i class="fas fa-eye text-cyan m-r-20 " 
    style="cursor: pointer;" (click)="viewDoc(item)"></i></h4> -->
    <table>
        <thead style="background: #e9ecef;">
            <!-- <tr> -->
                <th>Cread By</th>
                <th>Created Date</th>
                <th>File Name</th>
                <th>Action</th>
            <!-- </tr> -->
        </thead>
        <tbody>
            <tr *ngFor="let item of filedata">
                <td>{{item.created_by}}</td>
                <td>{{item.created_date}}</td>
                <td >{{item.file_name}} &nbsp;&nbsp;&nbsp;<i class="fas fa-eye text-cyan m-r-20 " 
                    style="cursor: pointer;" title="View File" (click)="viewDoc(item)"></i></td>
                    <td>
                        <button mat-icon-button style="color: red;border:none;cursor: pointer;"
                           aria-label="Example icon button with a vertical three dot icon"
                            (click)="deleterowfile(deletefileModel,item)">
                             <mat-icon>delete</mat-icon>
                             </button>
                    </td>
            </tr>
        </tbody>
    </table>
    <!-- <a style="cursor: pointer;" (click)="viewDoc(item)">{{item.file_name}}</a> -->
<!-- </span> -->
</div>
   </div><br>
<button mat-raised-button type="button" (click)="autoFileUpload1.click()">Attach File</button>
<div class="file">
<input hidden class="form-control-file" name="file" type="file" multiple
(change)="uploadWbsFile($event);showContent(i);" #autoFileUpload1 />
<ng-container *ngIf="fileUploadUrls.length>0">
    <div *ngFor="let item of filenamearray;let i=index;">{{i+1}}.&nbsp;{{item}}</div> 

<!-- <span >{{createNewFile.fileName}}</span>   -->
</ng-container>         
</div>
</ng-template>
<ng-template #deletefileModel>
    <h1 mat-dialog-title>Delete Activity</h1>
    <div mat-dialog-content>Are you sure, you want to delete file?</div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="matButton" >Close</button>&nbsp;
        <button mat-button cdkFocusInitial (click)="deleteexistingfile()" class="matButton">Delete</button>
    </div>
</ng-template>
<ng-template #Editmodel>
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
<div class="row">
    <div class="col-md-2">
        <label style="padding-top:5px;">Reason</label>
    </div>
    <div class="col-md-4">
        <input type="text" placeholder="Please Enter Reason" class="inputstyles" name="reason"
  [(ngModel)]="editModel.reason" style="width: 181%;">  
    </div>
</div>
</div><br>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="matButton" >Close</button>&nbsp;
    <button mat-button cdkFocusInitial (click)="saveeditreason()" class="matButton"
    [disabled]="!editModel.reason">Submit</button>
</div>
</ng-template>
