.inputstyles {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    width:100%;
}

.dropdownstyles {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    width:100%;
}

.inputstyles:hover {
    border: 2px solid black
}

.dropdownstyles:hover {
    border: 2px solid black;
}
.savebutton{
    // margin-left: 3%;
    // margin-top: 3%;
    height: 33px;
    // width: 8%;
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
    // border: 1px solid;
    background-color: rgba(0, 0, 0, 0.12);
    font-size: medium;
}
.attachfile{
    // margin-top: 2.8%;
    background-color: rgba(0, 0, 0, 0.12);
    height: 34px;
  }
  .mandetory{
    color:red;
    font-size: 17px;
  }
.svaebutton:hover {
    background-color: whitesmoke;
}

label {
    margin: 5px;
    font-weight: 450;
}
.table th {
    /* vertical-align: bottom; */
    vertical-align: middle !important;
    border-bottom: 2px solid #e9ecef;
    text-align: center !important;
}
.table td{
    vertical-align: middle !important;
    text-align: center;
}
table, th, td {
    border: 1px solid #e5dfdf;
  }
  .closeicon{
    float: right;
    margin-top: -6%;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:white;
    background-color: rgba(0, 0, 0);
    // border: 5px solid orange
    }
    .tablediv{
        max-height: 300px;
        overflow-y: auto;
    }
    .activitylog{
    font-size: 16px;
    margin-bottom: 0px;
    margin-left:5px;
    }
    .headerclass{
        position: sticky;
        top: -2px; 
        background: #e9ecef;
    }
    ::ng-deep {
        .mat-tab-body-content { overflow: hidden!important}
        }