<!-- <div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box m-3 m-md-0">
        <div id="loginform">
            <div class="logo">
                <span class="db"><img src="assets/greenko/logo_greeenko_eps.svg" width="200" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign In</h5>
            </div>
         


            <form class="example-form" autocomplete="off" [formGroup]="signInForm" (ngSubmit)="userLogin(signInForm)">
                <div class="row justify-content-md-center">
                    <div class="col-md-10 col-xl-8 col-12 text-center">
                        <mat-form-field class="example-full-width m-b-0" appearance="outline" [floatLabel]="'always'"
                            class="w-full">
                            <mat-label>User Name</mat-label>
                            <input type="text" matInput formControlName="userName" name="userName" autocomplete="off"
                                required placeholder="Enter User Name">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline" [floatLabel]="'always'"
                            class="w-full">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" name="password"
                                autocomplete="off" required placeholder="Enter Your Password">

                        </mat-form-field>

                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-lg  btn-success text-white btn-rounded"
                                    [disabled]="signInForm.invalid" type="submit">
                                    SIGN IN
                                </button>


                            </div>
                        </div>
                    </div>
                </div>






            </form>

        </div>

    </div>
</div> -->


<section class="content">
    <mat-card class="login-form-wrap">
        <mat-card-header>
            <mat-card-title>
                <img style="height: 40px;" alt="logo" src="assets/images/mainlogo.svg">
            </mat-card-title>
            <mat-card-subtitle>
                <span class="sub-title">

                </span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img src="assets/images/page_loading.gif" />
            <br />
            <span class="sub-title">
                Please wait don't refresh in progress
            </span>

        </mat-card-content>
    </mat-card>
</section>