.formbody{
    margin:4px;
    padding:7px;
  
  }
  .border{
    border:1px solid black !important;
  }
  
  th,td{
    border: none;
  
      padding: 5px;
     font-size: 15px;
  }
  .border-left{
    border-left: 1px solid black !important;
    // border-right: 1px solid black;
  }