.btn-custom{
    background-color: #888;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
}
.sign-width {
    width: 250px;
    height: 150px;
}
.inputstyles{
    padding:5px;
    width:20%;
    margin:5px;
    border-radius: 5px;
    // border:1px solid #b0b0b0;
    border:1px solid rgba(0, 0, 0, 0.12);
    height: 35px;
}
.inputstyles:hover{
    border: 2px solid #000; 
 }
 .inputstyles:hover {
    border: 2px solid black
}