.border{
    border: 1px solid black !important;
   }
   .table{
    margin-top: 59px;
   }
// .row p{
//      margin-top:14px;
//    }
//    .row .sub{
//          padding: 5px;
//    }
// .formbody{
//   margin:40px;
//   padding:30px;
//   font-size:small;
// }
// .remarks-margin{
//   margin-left:0px !important;
//   margin-right:0px !important;
// }
// @media print{
//   .print{
//     display: none;
//   }
//     .table p{
//   font-size:12px !important;
//   line-height: 4px !important;
// }
// }
// .border-bottom{
//   border-bottom: 1px solid black !important;
// }
// .center{
//   text-align: center;
// }
// .right{
//   text-align: right;
// }
// .middle{
//   padding-bottom: 70%;
//   padding-top: 70%;
// }
// .margin{
//     margin-top: -16px;
// }
// .print{
//   padding-top: 15px;
// }
// .border-style{
//   border-bottom: 1px solid black;
//   border-left: 1px solid black;
// }
// .border-style-right{
//   border-right: 1px solid black;
//   border-bottom: 1px solid black;
//   border-left: 1px solid black;
// }
// h1{
//   color: rgb(35, 150, 196)
// }
// hr{
//      position: relative;
//         width: 100%;
//         border: none;
//         height: 5px;
//         background: black;
//         margin-bottom: 15px;
//          box-shadow: 0px 1px 0px rgb(123, 121, 121); 
// }