.inputstyles{
    width: 89%;
    height: 58%;
    border-radius: 5px;
    border-width: thin; 
   
}
.closeicon{
    float: right;
    margin-top: -6%;
}
.dropdownstyles{
    width: 99%;
    border-radius: 5px; 
}
.savebutton{
    margin-left: 43%;
    margin-top: 3%;
    height: 40px;
    width: 7%;
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: medium;
}
.classbtn{
    width:15%;
    font-weight: 500;
    margin-left: 43%;
    margin-top: 3%;
}
.searchfield{
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
    outline: none;
}
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    // -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}
label {
    font-weight: 500;
}
// table, th, td {
//     border: 1px solid #e5dfdf;
//   }

.matButton {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}
.inputstyles:hover{
    border: 2px solid #000; 
 }
 .nguntouched:hover {
    border: 2px solid #000;
 }
 .dropdownstyles:hover{
     border: 2px solid #000;
    
 }
 
 .savebutton:hover{
    background-color: whitesmoke;
  
 }
 .input1{
    height:130%; 
    width:89%;
    border-radius: 5px;
    border-width: thin; 
}
.input2{
    height: 73%; 
    width: 107%;
    border-radius: 5px;
    border-width: thin; 
}
.input1:hover{
    width: 87%;
    height:130%; 
    border-radius: 5px;
    border: 2px solid #000;
}
.input2:hover{
    width: 107%;
    height: 73%;
    border-radius: 5px;
    border: 2px solid #000;
    
}

 