.page-header {
    // background: #89c240;
    background: #62beda;
    // background: linear-gradient(to right, #96c93d, #00b09b);
    padding-bottom: 37px !important;
    color: white;
    margin: -20px -20px 20px -20px;

    .page-title {
        font-size: 18px;
    }

    li {
        color: #fff;
    }
}