<mat-tab-group [backgroundColor]="'primary'" animationDuration="0ms">
    <mat-tab>
        <ng-template mat-tab-label>
            Goods Receipt Note
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-goodissuereceipt-signature-level></app-goodissuereceipt-signature-level>
                </mat-card-content>
            </mat-card>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Outgatepass RGP
        </ng-template>
        <ng-template matTabContent>
            <mat-card>
                <mat-card-content>
                    <app-outgatepassrgp-signature-level></app-outgatepassrgp-signature-level>
                </mat-card-content>
            </mat-card>
        </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Outgatepass NRGP
            </ng-template>
            <ng-template matTabContent>
                <mat-card>
                    <mat-card-content>
                        <app-outgatepassnrgp-signature-level></app-outgatepassnrgp-signature-level>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Delivery Challan
                </ng-template>
                <ng-template matTabContent>
                    <mat-card>
                        <mat-card-content>
                            <app-deliverychallan-signature-level></app-deliverychallan-signature-level>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Purchase Request
                </ng-template>
                <ng-template matTabContent>
                    <mat-card>
                        <mat-card-content>
                            <app-purchaserequestsignaturelevel></app-purchaserequestsignaturelevel>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Purchase Order
                </ng-template>
                <ng-template matTabContent>
                    <mat-card>
                        <mat-card-content>
                            <app-purchaseordersignaturelevel></app-purchaseordersignaturelevel>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Work Request
                </ng-template>
                <ng-template matTabContent>
                    <mat-card>
                        <mat-card-content>
                            <app-workrequestsignaturelevel></app-workrequestsignaturelevel>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Work Order
                </ng-template>
                <ng-template matTabContent>
                    <mat-card>
                        <mat-card-content>
                            <app-workordersignaturelevel></app-workordersignaturelevel>
                        </mat-card-content>
                    </mat-card>
                </ng-template>
            </mat-tab>
</mat-tab-group>