.btn-custom {
    background-color: #888;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: white;
    background-color: rgba(0, 0, 0);
    // border: 5px solid orange
}

.closeicon {
    float: right;
    margin-top: -7% !important;
}