.inputstyles{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.12);
    height: 35px;
    // border-width: thin; 
}
.closeicon{
    float: right;
    margin-top: -6%;
}
.dropdownstyles{
    width: 100%;
    border-radius: 5px; 
    border:1px solid rgba(0, 0, 0, 0.12);
    height: 35px;
}
.savebutton{
    // margin-left: 43%;
    // margin-top: 3.0%;
    height: 33px;
    // width: 16%;
    border-radius: 5px;
    transition-duration: 0.4s;
    outline: none;
    // border: 1px solid;
    background-color: rgba(0, 0, 0, 0.12);
    font-size: medium;
}
.classbtn{
    width:15%;
    font-weight: 500;
    margin-left: 43%;
    margin-top: 3%;
}
.searchfield{
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
    outline: none;
}
.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    // -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}
label {
    font-weight: 450;
    margin-top: 5px;
}
table, th, td {
    border: 1px solid #e5dfdf;
  }

.matButton {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}
.inputstyles:hover{
    border: 2px solid #000; 
 }
 .nguntouched:hover {
    border: 2px solid #000;
 }
 .dropdownstyles:hover{
     border: 2px solid #000;
    
 }
 
 .savebutton:hover{
    background-color: whitesmoke;
  
 }
 .savebutton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
 .input1{
    height:130%; 
    width:89%;
    border-radius: 5px;
    border-width: thin; 
}
.input2{
    height: 73%; 
    width: 107%;
    border-radius: 5px;
    border-width: thin; 
}
.input1:hover{
    width: 87%;
    height:130%; 
    border-radius: 5px;
    border: 2px solid #000;
}
.input2:hover{
    width: 107%;
    height: 73%;
    border-radius: 5px;
    border: 2px solid #000;
    
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:white;
    background-color: rgba(0, 0, 0);
    // border: 5px solid orange
    }
    .closeicon{
        float: right;
        margin-top: -10%;
    }
    .inputdropdown{
        height: 102%;
        border: none;
        margin-bottom: 3%;
        margin-top: -37%;
        // margin-left: 4%;
    }
    .attachfile{
        // margin-top: 2.8%;
        background-color: rgba(0, 0, 0, 0.12);
        height: 33px;
      }
      .mandetory{
        color:red;
        font-size: 17px;
      }
      .tablediv{
        max-height: 300px;
        overflow-y: auto;
    }
    .activitylog{
        font-size: 16px;
    margin-bottom: 0px;
    margin-left:5px;
    }
    .headerclass{
        position: sticky;
        top: -2px; 
        background: #e9ecef;
    }

    th.mat-header-cell {
        text-align: center !important;
        font-weight: 500;
    }
    // th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    //     padding-left: 0 !important;
    // }
 

    .matformfieldstyles{
        width: 100%;
        // border: 1px solid;
        border-radius: 5px;
        height: 54%;
        border:1px solid rgba(0, 0, 0, 0.12);
    }
     
    th.mat-header-cell {
        text-align: center !important;
    }
    // th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    //     padding-left: 0 !important;
    // }
    td.mat-cell{
        padding: 5px !important;
    }
    th.mat-sort-header-sorted {
        color: black;
      }
      .searchfield{
        text-transform: capitalize !important;
    }
    .savbtn{
        margin: auto;
        display: flex;
    }

    .disabled{
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        color:grey
    }
    .enabled{
        cursor: pointer;
    }